mixin sAccount(t)
	// start sAccount
	+b.SECTION.sAccount.section#sAccount&attributes(attributes)
		.container
			h3!= t
			block
	// end sAccount

mixin personaData()
	+form-wrap()
		.row
			.col-md-6
				+input('Фамилия')
			.col-md-6
				+input('Имя')
			.col-md-6
				+input('Дата рождения', 'number')
			.col-md-6
				.form-wrap__input-wrap.form-group
					label
						select.form-wrap__input.form-select(name='select')
							option(value='Мужской') Мужской
							option(value='Женский') Женский
						span.form-wrap__input-title Пол
			.col-md-6
				+input('Телефон', 'tel')
			.col-md-6
				+input('Электронная почта', 'email')
			.col-12
				+e.agree
					+in-c('checkbox', 'Я хочу получать рекламные сообщения и новости о товарах и услугах')(checked required)
			.col-12.mt-0
				+e.BUTTON.btn.btn.btn-primary Сохранить

mixin addressBlock()
	+b.addressBlock
		- for (var x = 1; x < 3; x++)
			+e.item
				.row
					.col-auto
						+icon('map-pin')
					.col
						p Москва, улица Название улицы, д.&nbsp;56&nbsp;корпус&nbsp;5, кв.&nbsp;48
					.col-auto
						+e.BUTTON.btn
							span Удалить
							+icon('close')
		+e.item
			.row
				.col-auto
					+icon('map-pin')
				.col
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga, quaerat. Explicabo mollitia odio veniam perspiciatis?
				.col-auto
					+e.BUTTON.btn
						span Удалить
						+icon('close')
	+e.btn.btn.btn-primary(href="#") Добавить адрес

mixin table()
	+b.lcTable
		mixin headTr(date, title, price, status)
			tr
				th
					+icon('chevron-down-dd')
				th
					+e.date.h6!= date
				th
					h6!= title
				th
					+e.price!= price
				th
					+e.status(class=(status=="В обработке" ? 'grey' : status=="Доставлен" ? 'green' : status=="Отменен" ? 'red' : ''))!= status
		mixin bodyTr(num, img, title, text, price, quantity, fullPrice)
			tr
				td: +e.num!= num
				td(colspan="2")
					+e.wrap
						+img(`img/${img}`)
						+e.content
							a.h6(href="#")!= title
							p!= text
				td
					+e.price.row
						.col
							.h6!= price
						.col-auto
							p!= quantity
						.col-12
							+e.fullPrice!= fullPrice
				td: +e.btn.btn.btn-primary(href="#") Написать отзыв
		table
			+headTr('16.12.2022 23:19', 'Заказ #16102022-142304', '6 750 ₽', 'В обработке')
		table
			+headTr('16.12.2022 23:19', 'Заказ #16102022-142304', '14 500 ₽', 'В обработке')
		table
			+headTr('16.12.2022 23:19', 'Заказ #16102022-142304', '28 980 ₽', 'Доставлен')
		table.active
			+headTr('16.12.2022 23:19', 'Заказ #16102022-142304', '36 240 ₽', 'Доставлен')
			+bodyTr('1', 'review-img-1.jpg', 'Ламинат «Дуб Антик» 33 класс толщина 10 мм с фаской 1.975 м²', 'Арт. 00000000', '3 980 ₽', '2 шт', '4 670 ₽')
			+bodyTr('2', 'review-img-4.jpg', 'Ламинат «Дуб Антик» 33 класс толщина 10 мм с фаской 1.975 м²', 'Арт. 00000000', '980 ₽ ', '1 шт', '2 670 ₽')
		table
			+headTr('16.12.2022 23:19', 'Заказ #16102022-142304', '14 500 ₽', 'Доставлен')
		table
			+headTr('16.12.2022 23:19', 'Заказ #16102022-142304', '28 980 ₽', 'Отменен')