include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow(iconReft='arrow-left', iconRight='arrow-right')
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon(iconReft)
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon(iconRight)
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

//- mixin addblock()
//- 	+b.addBlock
//- 		+e.btn--minus(type="button")
//- 		input(type="number" value="1")
//- 		+e.btn--plus(type="button")

mixin addblock()
	+b.addBlock
		+e.btn(type="button")
			+icon('minus')
		input(type="number" value="1")
		+e.btn(type="button")
			+icon('plus')



mixin searchBlock()
	+b.search-block 
		// вешать класс .show-result
		form
			input(type="text" placeholder="Поиск товаров")
			button
				+icon("search")
			+e.close
				+icon("close")
		+e.result
			each item in search
				+e.result-item(href="#")
					//- +icon("search")
					= item

//- mixin page-head(t,...items)
//- 	+b.page-head
//- 		- let l = items.length
//- 		.container
//- 			+breadcrumb('Главная',...items)

//- 			h1= t

mixin page-head-info(t)
	+b.page-head--info.section
		.container
			.section-title
				h1!= t
			+e.row.row
				.col-12.col-lg-auto.col-xxl-3.asideCol
					+e.aside--js
						+sSideMenu(`Информация`).sSideMenu--info
							+sideInfo()
						+sSideMenu(`Услуги`).sSideMenu--info
							+sideServices()
				.col
					block


mixin page-head-account(t)
	+b.page-head--account.section
		.container
			.section-title
				h1!= t
				+b.avatarBlock.d-lg-none
					+e.img-wrap
						span ma
						// <img src="img/avatar.jpg" alt="" loading="lazy">
						//- +img('img/sArticles-10.jpg')
					h5 Александр Марченко
			+e.row.row
				.col-12.col-lg-auto.col-xxl-3.asideCol
					+e.aside--js
						+b.avatarBlock.d-none.d-lg-flex
							+e.img-wrap
								span ma
								// <img src="img/avatar.jpg" alt="" loading="lazy">
								//- +img('img/sArticles-10.jpg')
							h5 Александр <br> Марченко
						+sSideMenu().sSideMenu--account
							+account()
				.col
					block


mixin section-title(h1, h2, l, mnu, amount)
	+b.section-title--link
		.row
			.col
				if h1
					.h1!= h1
				if h2
					h2!= h2
			if amount
				.col-auto.d-none.d-md-block.text-secondary
					span!= amount
			if l
				.col-auto.order-md-last
					+e.link(href="#")
						span.d-sm-none Все
						span.d-none.d-sm-block!= l
			if mnu
				.col-12.my-0
				.col
					+e.menu-wrap
						block

mixin article-item(img, s, h, p)
	// start article-item
	+b.article-item(href="#")
		+e.img-wrap
			+img(`img/${img}`, 'bg')
		+e.subtitle!= s
		h3!= h
		if p
			p!= p
	// end article-item

mixin headerBlock-item(h, p, i, btn, a)
	// start headerBlock-item
	+b.headerBlock-item&attributes(attributes)
		if a
			+e.link(href="#")
		picture.picture-bg
			source(type='image/jpg' srcset=`img/headerBlock-lg-${i}.jpg` media='(min-width:768px)')
			source(type='image/jpg' srcset=`img/headerBlock-${i}.jpg`)
			img.object-fit-js(src=`img/@2x/img-${i}.jpg` alt='' loading='lazy')
		h2!= h
		if p
			p!= p
		if btn
			+e.btn.btn.btn-primary(href="#")!= btn
	// end headerBlock-item

mixin logo()
	+b.logo-wrap
		a(href="/")
			+img('img/svg/logo-header.svg')

mixin top-btns()
	// start top-btns
	+b.top-btns-wrap
		.container
			+b.top-btns
				+e.btn(href="#" class="catalog-toggle-js").d-lg-none
					+e.SPAN.inner
						+icon("menu-small") 
					+e.SPAN.title Каталог
				+e.btn(href="#").d-none.d-lg-flex
					+e.SPAN.inner
						+icon("user") 
					+e.SPAN.title Войти
				+e.btn(href="#")
					+e.SPAN.inner
						+icon("compare") 
					+e.SPAN.title Сравнение
				+e.btn(href="#").current
					+e.SPAN.inner
						+icon("heart")
						+e.SPAN.counter 2
					+e.SPAN.title Избранное
				+e.btn(type="button") 
					+e.SPAN.inner
						+icon("basket") 
						+e.SPAN.counter 6
					+e.SPAN.title Корзина
	// end top-btns

mixin star-block()
	// start star-block
	+b.star-block
		+icon('star').active
		+icon('star').active
		+icon('star').active
		+icon('star').active
		+icon('star')
	// end star-block

mixin product-card(...labels)
	// start product-card
	+b.product-card
		.slider-wrapper
			+e.slider--js.swiper
				.swiper-wrapper
					- for (var i = 1; i < 5; i++)
						+e.slide.swiper-slide
							+e.img-wrap
								+img(`img/sCatalog-${i}.jpg`, 'bg')
			.swiper-pagination
		+e.caption
			+e.vendorCode Арт.&nbsp;00000000
			+e.title(href="#") Ламинат &laquo;Дуб Антик&raquo; 33&nbsp;класс толщина 10&nbsp;мм с&nbsp;фаской 1.975&nbsp;м&sup2;
			+e.label-wrap--top
				.row
					each label in labels
						.col-auto: +e.label(class= `${label.class}`)!= label.name
			+e.row.row
				.col-12
					+e.rating
						.row
							.col-auto
								+star-block()
							.col-auto
								span 12&nbsp;отзывов
				.col-12
					+e.price-row.row
						.col
							.row
								.col-auto
									+e.price 3&nbsp;980&nbsp;₽
								.col-auto
									+e.price--discount 00&nbsp;000&nbsp;₽
						.col-auto
							+e.price--meter 1&nbsp;350&nbsp;₽/м&sup2;
						
				//- .col-12.my-0
				.col
					+e.btn-basket.btn.btn-primary(href="#") В&nbsp;корзину
				.col-auto
					+e.btns
						+e.btn--dots
							+icon('dots')
						+e.btn-wrap
							+e.btn(href="#")
								+icon('compare')
							+e.btn(href="#").active
								+icon('heart')
	// end product-card

mixin product-horisontal(...labels)
	// start product-card--horisontal
	+b.product-card--horisontal
		.row
			.col-4
				+e.vendorCode Арт.&nbsp;00000000
			.col-4
				+e.rating
					.row
						.col-auto
							+star-block()
						.col-auto
							span 12&nbsp;отзывов
			.col-4
				+e.btn-wrap
					+e.btn(href="#")
						+icon('compare')
					+e.btn(href="#")
						+icon('heart')
					// класс .active
		.row
			.col-4
				.slider-wrapper
					+e.slider--js.swiper
						.swiper-wrapper
							- for (var i = 1; i < 5; i++)
								+e.slide.swiper-slide
									+e.img-wrap
										+img(`img/sCatalog-${i}.jpg`, 'bg')
					.swiper-pagination
			.col-4
				+e.title(href="#") Ламинат &laquo;Дуб Антик&raquo; 33&nbsp;класс толщина 10&nbsp;мм с&nbsp;фаской 1.975&nbsp;м&sup2;
				+e.label-wrap
					.row
						each label in labels
							.col-auto: +e.label(class= `${label.class}`)!= label.name
			.col-4
				+e.price-row.row
					.col-12
						p Ваша цена на&nbsp;сегодня
					.col
						.row
							.col-auto
								+e.price 3&nbsp;980&nbsp;₽
							.col-auto
								+e.price--discount 00&nbsp;000&nbsp;₽
					.col-auto
						+e.price--meter 1&nbsp;350&nbsp;₽/м&sup2;
				+e.btn-basket.btn.btn-primary(href="#") Добавить в&nbsp;корзину
				ul
					li
						span Гарантия
						span.dotted
						span 12&nbsp;месяцев

	// end product-card--horisontal

mixin cartList()
	// start cartList
	+b.cartList
		+e.head
			+in-c("checkbox", 'Выбрать все')
			+e.BUTTON.btn--close.text-danger
				+icon('close')
				span Удалить выбранные
		if block
			block
		else
			mixin cartListItem
				+e.item
					table
						tr
							td
								input.custom-input__input.form-check-input(name='checkbox' type='checkbox')
							td
								+img('img/sCart-1.jpg').res-i
							td
								p Ламинат &laquo;Дуб Антик&raquo; 33&nbsp;класс толщина 10&nbsp;мм с&nbsp;фаской 1.975&nbsp;м&sup2;
								p Арт. 00000000
								+e.btn-wrap
									+e.BUTTON.btn--favorites.active
										+icon('heart')
										span В&nbsp;избранное
									+e.BUTTON.btn--clear
										+icon('close')
										span Удалить
							td
								+e.price-wrap
									span 8 600 ₽
									span 4 670 ₽
							td.text-end
								+addblock()
			+cartListItem
			+cartListItem
			+cartListItem
	// end cartList

mixin choiceOption(title, text, name)
	// start choiceOption
	+b.choiceOption
		label
			input.btn-check(name=`${name}` type='radio')&attributes(attributes)
			+e.SPAN.btn
				+e.SPAN.check
					+icon('check')
				+e.SPAN.content
					span.h5!= title 
					+e.SPAN.text!= text
			
	// end choiceOption

mixin infoBlock()
	// start infoBlock
	+b.infoBlock
		h5 Для того, чтобы осуществить гарантийное обслуживание необходимо
		ul
			li правильно, и&nbsp;без помарок и&nbsp;исправлений, заполненный гарантийный талон, в&nbsp;котором должны быть указаны модель и&nbsp;серийный номер изделия, дата продажи и&nbsp;печать торгующей организации;
			li документ, подтверждающий покупку (товарная накладная);
			li полная комплектация товара.
	// end infoBlock